In [3]:
import pandas as pd

data = pd.read_csv('2025_07_16.csv', header = None)
data.columns = ['filename', 'probability']
data

              filename  probability
0    CLD5498_L_000.jpg       0.0010
1    CLD5498_L_001.jpg       0.0013
2    CLD5498_L_002.jpg       0.0012
3    CLD5498_L_003.jpg       0.0062
4    CLD5498_L_004.jpg       0.0026
..                 ...          ...
229  SUT5483_R_014.jpg       0.0076
230  SUT5483_R_015.jpg       0.0572
231  SUT5483_R_016.jpg       0.0268
232  SUT5483_R_017.jpg       0.0460
233  SUT5483_R_018.jpg       0.2765

[234 rows x 2 columns]

In [11]:
def spliting(df):
    filename = df['filename'].str.split('.').apply(lambda x: x[0])
    df['NHI'] = filename.str.split('_').apply(lambda x: x[0])
    df['eye'] = filename.str.split('_').apply(lambda x: x[1])
    df['slice'] = filename.str.split('_').apply(lambda x: x[2]).astype('int')
    df = df[['NHI', 'eye', 'slice', 'probability']]
    return df

In [12]:
data = spliting(data)

In [18]:
import datetime

data['date'] = pd.to_datetime(datetime.date(2025, 7, 16))
data

         NHI eye  slice  probability       date
0    CLD5498   L      0       0.0010 2025-07-16
1    CLD5498   L      1       0.0013 2025-07-16
2    CLD5498   L      2       0.0012 2025-07-16
3    CLD5498   L      3       0.0062 2025-07-16
4    CLD5498   L      4       0.0026 2025-07-16
..       ...  ..    ...          ...        ...
229  SUT5483   R     14       0.0076 2025-07-16
230  SUT5483   R     15       0.0572 2025-07-16
231  SUT5483   R     16       0.0268 2025-07-16
232  SUT5483   R     17       0.0460 2025-07-16
233  SUT5483   R     18       0.2765 2025-07-16

[234 rows x 5 columns]

In [21]:
data.to_csv('2025_07_16_results.csv')