In [2]:
import pandas as pd

normal_df = pd.read_csv("normal.csv", header = None)
normal_df.columns = ["filename", "probability"]

In [3]:
normal_df['NHI'] = normal_df['filename'].str.split('.').apply(lambda x: x[0]).str.split('_').apply(lambda x: x[0])
normal_df['eye'] = normal_df['filename'].str.split('.').apply(lambda x: x[0]).str.split('_').apply(lambda x: x[1])
normal_df['slice'] = normal_df['filename'].str.split('.').apply(lambda x: x[0]).str.split('_').apply(lambda x: x[2]).astype('int')
normal_df['HCQ_toxicity'] = 0

In [4]:
normal_df

               filename  probability      NHI eye  slice  HCQ_toxicity
0     AWK3666_L_000.jpg       0.0944  AWK3666   L      0             0
1     AWK3666_L_001.jpg       0.2244  AWK3666   L      1             0
2     AWK3666_L_002.jpg       0.1975  AWK3666   L      2             0
3     AWK3666_L_003.jpg       0.0338  AWK3666   L      3             0
4     AWK3666_L_004.jpg       0.0227  AWK3666   L      4             0
...                 ...          ...      ...  ..    ...           ...
1887  XQE6764_R_014.jpg       0.6266  XQE6764   R     14             0
1888  XQE6764_R_015.jpg       0.0475  XQE6764   R     15             0
1889  XQE6764_R_016.jpg       0.1024  XQE6764   R     16             0
1890  XQE6764_R_017.jpg       0.1083  XQE6764   R     17             0
1891  XQE6764_R_018.jpg       0.3261  XQE6764   R     18             0

[1892 rows x 6 columns]

In [5]:
toxicity_df = pd.read_csv("toxicity.csv", header = None)
toxicity_df.columns = ["filename", "probability"]
toxicity_df['NHI'] = toxicity_df['filename'].str.split('.').apply(lambda x: x[0]).str.split('_').apply(lambda x: x[0])
toxicity_df['eye'] = toxicity_df['filename'].str.split('.').apply(lambda x: x[0]).str.split('_').apply(lambda x: x[1])
toxicity_df['slice'] = toxicity_df['filename'].str.split('.').apply(lambda x: x[0]).str.split('_').apply(lambda x: x[2]).astype('int')
toxicity_df['HCQ_toxicity'] = 1
toxicity_df

               filename  probability      NHI eye  slice  HCQ_toxicity
0     AEL0686_L_000.jpg       0.9974  AEL0686   L      0             1
1     AEL0686_L_001.jpg       0.9874  AEL0686   L      1             1
2     AEL0686_L_002.jpg       0.9921  AEL0686   L      2             1
3     AEL0686_L_003.jpg       0.9982  AEL0686   L      3             1
4     AEL0686_L_004.jpg       0.9885  AEL0686   L      4             1
...                 ...          ...      ...  ..    ...           ...
3138  WAH4019_R_014.jpg       0.0009  WAH4019   R     14             1
3139  WAH4019_R_015.jpg       0.0017  WAH4019   R     15             1
3140  WAH4019_R_016.jpg       0.0053  WAH4019   R     16             1
3141  WAH4019_R_017.jpg       0.0029  WAH4019   R     17             1
3142  WAH4019_R_018.jpg       0.0047  WAH4019   R     18             1

[3143 rows x 6 columns]

In [7]:
combined = pd.concat([normal_df, toxicity_df])
combined = combined[['NHI', 'eye', 'slice', 'probability', 'HCQ_toxicity']]
combined

          NHI eye  slice  probability  HCQ_toxicity
0     AWK3666   L      0       0.0944             0
1     AWK3666   L      1       0.2244             0
2     AWK3666   L      2       0.1975             0
3     AWK3666   L      3       0.0338             0
4     AWK3666   L      4       0.0227             0
...       ...  ..    ...          ...           ...
3138  WAH4019   R     14       0.0009             1
3139  WAH4019   R     15       0.0017             1
3140  WAH4019   R     16       0.0053             1
3141  WAH4019   R     17       0.0029             1
3142  WAH4019   R     18       0.0047             1

[5035 rows x 5 columns]

In [8]:
combined.to_csv('results.csv')